body {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

header {
  width: 100%;
  text-align: center;
  background-color: black;
}
.logo img {
  max-width: 1920px;
  max-height: 1366px;
  margin-top: 1em;
  vertical-align: middle;
}

h1 {
  color: rgb(82, 161, 210);
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottone button {
  background-color: #e22d0e;
  color: white;
  border-radius: 0.3em;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 130px;
  height: 40px;
}
.backgroundimg {
  background-image: url(../images/banner.jpg);
  margin-top: 2em;
  margin-bottom: 2em;
  background-size: cover;
  max-width: 1920px;
  max-height: 1366px;
}

main {
  background-color: white;
  text-align: center;
}
#primoblocco {
  display: inline-block;
}
.tondo img {
  height: 300px;
  width: 300px;
  margin-top: 2em;
  border-radius: 50% 51% 49% 50% / 50% 51% 49% 50%;
}
.secondasezione {
  display: inline-block;
}
#testimonianza {
  font-style: italic;
}
.nome {
  margin-top: 2em;
}
#CEO {
  font-style: italic;
}
.testo div {
  display: block;
  align-items: right;
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
}
.testo h4 {
  line-height: 1.5em;
}
h4 {
  color: rgb(82, 161, 210);
  margin-bottom: 1em;
  margin-top: 2em;
}

.quadratorosso {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
  margin-top: 2em;
  width: 100%;
}
.quadratorosso div {
  vertical-align: middle;
  margin-top: 2em;
}
.block div {
  border-color: #dee1e3;
  box-shadow: 1px 1px 1px 1px #dee1e3;
  margin-top: 2rem;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-radius: 0.3px;
  display: inline-block;
  width: 400px;
}
#blocco1 div {
  border-color: #dee1e3;
  border-width: 1em;
}
.block div img {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  height: 290px auto;
  display: block;
  margin-bottom: 1em;
}
#blocco3 img {
  height: 300px;
  width: 100%;
}
#blocco2 img {
  height: 300px;
  width: 100%;
}
#blocco1 img {
  height: 300px;
  width: 100%;
  padding-right: 2em;
}
h2 {
  margin-bottom: 2em;
  text-align: center;
}
.block p {
  margin-bottom: 1em;
}
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #25a2c3;
  text-align: center;
  color: white;
  height: 350px;
  width: 100%;
}
footer a {
  color: #c8e7f0;
}
#contattaci {
  padding-bottom: 1.5em;
}
.contatti p {
  margin: 1em;
}
#linea {
  width: 250px;
  height: 0.5px;
  margin-top: 2.5em;
}
.copyright {
  padding-top: 3em;
  font-style: italic;
}
