/* Your styles here */
body {
  margin: auto;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
header {
  max-width: 450px;
  text-align: center;
  background-color: black;
}
.logo div {
}
.bottone button {
  background-color: #e22d0e;
  color: white;
  border-radius: 0, 5em;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
}
.backgroundimg {
  background-image: url(../images/banner.jpg);
  margin-top: 2em;
  margin-bottom: 2em;
}
.bolla img {
  height: 200px;
  max-width: 50%;
  margin-top: 2em;
  text-align: center;
  border-radius: 50% 51% 49% 50% / 50% 51% 49% 50%;
}
main {
  background-color: white;
  text-align: center;
}
#testimonianza {
  font-style: italic;
}
.nome {
  margin-top: 2em;
}
#CEO {
  font-style: italic;
}
h4 {
  color: rgb(82, 161, 210);
  margin-bottom: 1em;
  margin-top: 2em;
}
.primoblocco div {
  margin-bottom: 1em;
}
.quadratorosso {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}
.block {
  box-shadow: 1px 1px 1px 1px;
  box: shadow #dee1e3;
  margin-top: 2rem;
}
.block div img {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 1em;
}
h2 {
  margin-bottom: 2em;
  font-family: "Montserrat", sans-serif;
}
.block p {
  margin-bottom: 1em;
}
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #25a2c3;
  text-align: center;
  color: white;
}
.copyright {
  padding-top: 3em;
  font-style: italic;
}
