/* Your styles here */
body {
  margin: auto;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
}
.logo div {
  width: 100%;
}
.bottone button {
  background-color: #e22d0e;
  color: white;
  border-color: transparent;
}
.backgroundimg {
  background-image: url(../images/banner.jpg);
}
.bolla img {
  height: 200px;
  max-width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 50% 51% 49% 50% / 50% 51% 49% 50%;
}
main {
  background-color: white;
  text-align: center;
}
h4 {
  color: rgb(82, 161, 210);
}
.primoblocco div {
  margin-bottom: 1em;
}
.quadratorosso {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.block {
  box-shadow: 2px 2px 2px 2px;
  margin-top: 2rem;
}
.block div img {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  magin-bottom: 1em;
}

footer {
  background-color: #25a2c3;
}
