/* Your styles here */
body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5em;
}
header {
  width: 100%;
  background-color: black;
  padding: 0 30px;
}
.logo img {
  width: auto;
  height: 40px;
  padding: 1em 0;
  margin: auto;
  vertical-align: middle;
}

h1 {
  color: rgb(82, 161, 210);
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottone button {
  background-color: #e22d0e;
  color: white;
  border-radius: 0.3em;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 130px;
  height: 40px;
}
.backgroundimg {
  background-image: url(../images/banner.jpg);
  margin-bottom: 2em;
  background-size: cover;
}

.tondo img {
  height: 300px;
  width: 300px;
  margin-top: 2em;
  text-align: center;
  border-radius: 50% 51% 49% 50% / 50% 51% 49% 50%;
}
main {
  background-color: white;
  text-align: center;
}
#testimonianza {
  font-style: italic;
}
.nome {
  margin-top: 2em;
}
#CEO {
  font-style: italic;
}

h4 {
  color: rgb(82, 161, 210);
  margin-bottom: 1em;
  margin-top: 2em;
}
.primoblocco div {
  margin-bottom: 1em;
}
.quadratorosso {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
  margin-top: 2em;
  width: 100%;
}
.quadratorosso div {
  vertical-align: middle;
  margin-top: 2em;
  padding: 0 2em;
}
.block div {
  border-color: #dee1e3;
  box-shadow: 1px 1px 1px 1px #dee1e3;
  margin-top: 2rem;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-radius: 0.3px;
}

.block div img {
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 1em;
}
h2 {
  margin-bottom: 2em;
  text-align: center;
}
.block p {
  margin-bottom: 1em;
  padding: 0 15px;
}
.card {
  width: 26vw;
  margin: 50px 20px;
  display: inline-block;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #25a2c3;
  text-align: center;
  color: white;
  height: 350px;
}
footer a {
  color: #c8e7f0;
}
#contattaci {
  padding-bottom: 1.5em;
  font-weight: bold;
}
.contatti p {
  margin: 1em;
}
#linea {
  width: 200px;
  height: 0.5px;
  margin-top: 2.5em;
}
.copyright {
  padding-top: 3em;
  font-style: italic;
}
